.container-fluid {
    margin: 0;
    padding: 0;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    background-size: 55%;
    background-color: #f4f6f8;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .flex-child {
    flex: 1;
    margin-right: 10px;
    padding-left: 50px;
  }
  
  .inner-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .text {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .about-section {
      padding: 10px;
      flex-direction: column;
    }
  }
  