/* General container styling */
.container-fluid {
  display: flex;
  flex-direction: column;
  padding: 0 15px; /* Added padding for better spacing */
}
.nav-container
{
    flex-direction: row;
}
/* About Section */
.about-section {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  padding: 20px;
}

/* About Section Heading */
.about-section h1 {
  font-size: 3rem; /* Larger heading for the About section */
  font-weight: bold;
  color: var(--RED-500); /* Accent red color */
  margin-bottom: 20px;
}

/* About Section Paragraph */
.about-section p {
  font-size: 16px; /* Larger font for better readability */
  color: var(--GRAY-300); /* Text color in grey */
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 40px;
}

/* Mission Section Styling */
.about-section__mission {
  margin-top: 60px;
  padding: 30px;
  background-color: var(--GRAY-200); /* Slightly darker grey for contrast */
  border-radius: 8px; /* Rounded corners */
}

.about-section__mission h2 {
  font-size: 2.5rem; /* Mission title size */
  font-weight: 700;
  color: var(--RED-600); /* Darker red accent */
  margin-bottom: 15px;
}

.about-section__mission p {
  font-size: 1.25rem;
  color: var(--GRAY-400); /* Slightly lighter grey text */
  line-height: 1.7;
  text-align: left;
}

/* Text class for general text styling */
.text {
}
