.navbar__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #444;
  z-index: 999;
}

.navbar__list--item a {
  display: block;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar__list--item a:hover {
  background-color: #111;
  color: #04caf5;
}
