{% extends 'base.html' %}

{% block title %}Generate QR Code{% endblock title %}

{% block body %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Generate QR Code</button>
</form>
{% if filename %}
    <h3>Generated QR Code:</h3>
    <img src="{{ filename }}" alt="Generated QR Code" />
    <br>
    <!-- Generate the download link with a query parameter -->
    <a href="{% url 'qr_module:download_qr' %}?filename={{ filename|urlencode }}" class="btn btn-success">Download QR Code</a>
    <br><br>
    <a href="{% url 'qr_module:generate_qr' %}" class="btn btn-secondary">Generate another QR Code</a>
{% endif %}
{% endblock body %}
