{% extends 'upload.html' %} 
{% load static %}
{% block title %}Image to Text{% endblock title %}
{% block page-title %} Extract Text from Image {% endblock %}
{% block extra %}
<label for="language_select">Choose a language:</label>
<select id="language_select" name="language">
    {% for abbr, full_name in languages %}
        <option value="{{ abbr }}" {% if abbr == default_lang %}selected{% endif %}>{{ full_name }}</option>
    {% endfor %}
</select>
{% endblock %}
{% block upload-button %} Extract Text {% endblock %}